___

<p style='text-align: center;'><img src='https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV' class='img-fluid' alt='CLRSWY'></p>

___

<h1><p style='text-align: center;'>Traffic Police Stops<br>Part - 2</p><h1> - Exploring The Relationship Between Gender And Policing <img src='https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki' class='img-fluid' alt='CLRSWY' width='200' height='100'>

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data** or **use the csv file you created at the end of chapter-1.*** Continue to this chapter based on where you were in the end of the previous chapter.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy import math

In [ ]:
ri = pd.read_csv('RI_Part_1.csv')

C:\Users\Toshiba\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
ri.head(1)

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [ ]:
ri.index.names = ['stop_datetime']

In [ ]:
ri.columns

Index(['stop_datetime', 'id', 'state', 'location_raw', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district'],
      dtype='object')

In [ ]:
ri.shape

(480584, 22)

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [ ]:
# CODE HERE

In [ ]:
# Count the unique values in the 'violation'   ----> Other olarak Nan value değerleri de getirdik bu şekilde.
ri['violation'].value_counts(dropna=False)

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
# Express the violation counts as proportions   ---> normalize dediğimiz zaman değerleri 0-1 arasına sıkıştırıyor.
                                                     # Değerler toplamı 1 olmalı
ri['violation'].value_counts(normalize=True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [ ]:
ri['driver_gender'].value_counts(dropna=False)

M    349446
F    131138
Name: driver_gender, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
female = ri[ri['driver_gender'] == 'F']
female.head(1)

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
14,2005-02-24 01:20:00,RI-2005-00016,RI,Zone X3,200,F,1983.0,22.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [ ]:
# CODE HERE

In [ ]:
male = ri[ri['driver_gender'] == 'M']
male.head(1)

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
0,2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [ ]:
# CODE HERE

In [ ]:
female['violation'].value_counts(dropna=False)

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
female['violation'].value_counts(normalize=True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [ ]:
# CODE HERE

In [ ]:
male['violation'].value_counts(dropna=False)

Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
male['violation'].value_counts(normalize=True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [ ]:
# instruction a ekle

In [ ]:
ri_violation_gender = pd.concat([female.violation.value_counts(normalize = True),
                male.violation.value_counts(normalize = True)],
                axis=1,
                keys=('female_violations','male_violations'))
print (ri_violation_gender)

                     female_violations  male_violations
Speeding                      0.657308         0.522364
Moving violation              0.136581         0.206948
Equipment                     0.107055         0.135102
Registration/plates           0.043077         0.040581
Other                         0.028908         0.058450
Seat belt                     0.027071         0.036555

In [ ]:
pd.crosstab(ri["driver_gender"], ri["violation"], normalize=True)

violation,Equipment,Moving violation,Other,Registration/plates,Seat belt,Speeding
driver_gender,,,,,,
F,0.029212,0.037269,0.007888,0.011754,0.007387,0.179361
M,0.098237,0.150477,0.042500,0.029508,0.026580,0.379825

In [ ]:
ri.groupby('driver_gender')['violation'].value_counts(normalize=True)

driver_gender  violation
F              Speeding               0.657308
               Moving violation       0.136581
               Equipment              0.107055
               Registration/plates    0.043077
               Other                  0.028908
               Seat belt              0.027071
M              Speeding               0.522364
               Moving violation       0.206948
               Equipment              0.135102
               Other                  0.058450
               Registration/plates    0.040581
               Seat belt              0.036555
Name: violation, dtype: float64

In [ ]:
ri.groupby('violation')['driver_gender'].value_counts(normalize=True)

violation            driver_gender
Equipment            M                0.770792
                     F                0.229208
Moving violation     M                0.801492
                     F                0.198508
Other                M                0.843451
                     F                0.156549
Registration/plates  M                0.715129
                     F                0.284871
Seat belt            M                0.782529
                     F                0.217471
Speeding             M                0.679247
                     F                0.320753
Name: driver_gender, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``'Citation'`` (meaning a ticket) versus a ``'Warning'``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [ ]:
# CODE HERE

In [ ]:
female_and_speeding = ri[(ri.driver_gender == 'F') & (ri.violation == 'Speeding')]
female_and_speeding.head(1)

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
14,2005-02-24 01:20:00,RI-2005-00016,RI,Zone X3,200,F,1983.0,22.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3

In [ ]:
# CODE HERE

In [ ]:
male_and_speeding = ri[(ri.driver_gender == 'M') & (ri.violation == 'Speeding')]
male_and_speeding.head(1)

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
0,2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1

In [ ]:
# CODE HERE

In [ ]:
female_and_speeding['stop_outcome'].value_counts(dropna=False)

Citation            82168
Warning              3362
Arrest Driver         456
Arrest Passenger       89
N/D                    78
No Action              45
Name: stop_outcome, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
female_and_speeding['stop_outcome'].value_counts(normalize=True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [ ]:
# CODE HERE

In [ ]:
male_and_speeding['stop_outcome'].value_counts(dropna=False)

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
male_and_speeding['stop_outcome'].value_counts(normalize=True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [ ]:
# CODE HERE

In [ ]:
ri['search_conducted'].dtype

dtype('bool')

In [ ]:
# CODE HERE

In [ ]:
ri['search_conducted'].value_counts(dropna = False)

False    462822
True      17762
Name: search_conducted, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
ri['search_conducted'].value_counts(normalize=True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [ ]:
# CODE HERE

In [ ]:
ri['search_conducted'].mean()

0.036959199640437465

In [ ]:
type(ri['search_conducted'])

pandas.core.series.Series

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.7%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [ ]:
# CODE HERE

In [ ]:
ri[ri['driver_gender'] == 'F'].search_conducted.mean()

0.018751239152648355

In [ ]:
# CODE HERE

In [ ]:
female['search_conducted'].mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [ ]:
# CODE HERE

In [ ]:
ri[ri['driver_gender'] == 'M'].search_conducted.mean()

0.04379217389811301

In [ ]:
# CODE HERE

In [ ]:
male['search_conducted'].mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [ ]:
# CODE HERE

In [ ]:
ri.groupby(['driver_gender']).mean()

,driver_age_raw,driver_age,search_conducted,contraband_found,is_arrested,drugs_related_stop
driver_gender,,,,,,
F,1974.087275,32.536682,0.018751,0.006337,0.025492,0.004568
M,1969.211775,34.524914,0.043792,0.016449,0.037946,0.011922

In [ ]:
# CODE HERE

In [ ]:
ri.groupby(['driver_gender']).search_conducted.mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [ ]:
# CODE HERE

In [ ]:
ri.groupby(['driver_gender', 'violation']).search_conducted.mean()

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

In [ ]:
ri.groupby(['driver_gender', 'violation']).search_conducted.value_counts('Normalize')

driver_gender  violation            search_conducted
F              Equipment            False               0.959755
                                    True                0.040245
               Moving violation     False               0.961979
                                    True                0.038021
               Other                False               0.954102
                                    True                0.045898
               Registration/plates  False               0.945300
                                    True                0.054700
               Seat belt            False               0.982254
                                    True                0.017746
               Speeding             False               0.992262
                                    True                0.007738
M              Equipment            False               0.929084
                                    True                0.070916
               Moving violation     False               0.940844
                                    True                0.059156
               Other                False               0.953880
                                    True                0.046120
               Registration/plates  False               0.896411
                                    True                0.103589
               Seat belt            False               0.968295
                                    True                0.031705
               Speeding             False               0.973370
                                    True                0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [ ]:
# CODE HERE

In [ ]:
ri.groupby(['violation', 'driver_gender']).search_conducted.mean()

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

In [ ]:
ri.groupby(['violation', 'driver_gender']).search_conducted.value_counts(normalize=True)

violation            driver_gender  search_conducted
Equipment            F              False               0.959755
                                    True                0.040245
                     M              False               0.929084
                                    True                0.070916
Moving violation     F              False               0.961979
                                    True                0.038021
                     M              False               0.940844
                                    True                0.059156
Other                F              False               0.954102
                                    True                0.045898
                     M              False               0.953880
                                    True                0.046120
Registration/plates  F              False               0.945300
                                    True                0.054700
                     M              False               0.896411
                                    True                0.103589
Seat belt            F              False               0.982254
                                    True                0.017746
                     M              False               0.968295
                                    True                0.031705
Speeding             F              False               0.992262
                                    True                0.007738
                     M              False               0.973370
                                    True                0.026630
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``'protective frisk.'``

You'll first check to see how many times 'Protective Frisk' was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

In [ ]:
 bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``'Protective Frisk'`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``'Protective Frisk'`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [ ]:
# CODE HERE

In [ ]:
ri.search_type.value_counts(dropna=False)

NaN                                                         462822
Incident to Arrest                                            6998
Probable Cause                                                4989
Reasonable Suspicion                                          1141
Inventory                                                     1101
Protective Frisk                                               879
Incident to Arrest,Inventory                                   649
Incident to Arrest,Probable Cause                              552
Probable Cause,Reasonable Suspicion                            334
Probable Cause,Protective Frisk                                221
Incident to Arrest,Protective Frisk                            158
Incident to Arrest,Inventory,Probable Cause                    151
Inventory,Probable Cause                                       132
Protective Frisk,Reasonable Suspicion                           83
Incident to Arrest,Inventory,Protective Frisk                   77
Incident to Arrest,Probable Cause,Protective Frisk              74
Inventory,Protective Frisk                                      52
Incident to Arrest,Reasonable Suspicion                         49
Probable Cause,Protective Frisk,Reasonable Suspicion            31
Incident to Arrest,Probable Cause,Reasonable Suspicion          31
Inventory,Reasonable Suspicion                                  17
Inventory,Probable Cause,Protective Frisk                       14
Incident to Arrest,Inventory,Reasonable Suspicion               12
Incident to Arrest,Protective Frisk,Reasonable Suspicion         8
Inventory,Probable Cause,Reasonable Suspicion                    8
Inventory,Protective Frisk,Reasonable Suspicion                  1
Name: search_type, dtype: int64

In [ ]:
# CODE HERE

In [ ]:
ri['frisk'] = ri.search_type.str.contains('Protective Frisk', na=False)
ri.head(1)

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
0,2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False

In [ ]:
# CODE HERE

In [ ]:
ri['frisk'].dtype

dtype('bool')

In [ ]:
# CODE HERE

In [ ]:
#ri.frisk.sum()
ri['frisk'].sum()

1598

In [ ]:
ri['frisk'].value_counts(dropna=False)

False    478986
True       1598
Name: frisk, dtype: int64

In [ ]:
# ALTERNATIVE FOR CREATING FRISK COLUMN WITH APPLY

In [ ]:
# def frisk(a):
#     b = 'Protective Frisk'
#     if  b in ri.columns :
#         return True
#     else:
#         return False

In [ ]:
#riV = ri.copy()
#riV.head(1)

In [ ]:
#riV['frisk'] = riV['search_type'].apply(frisk)
#riV.head(1)

In [ ]:
#riV['frisk'].dtype

In [ ]:
#riV['frisk'].sum()

In [ ]:
#riV['frisk'].value_counts(dropna=False)

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [ ]:
# CODE HERE

In [ ]:
# searched = ri[ri['search_conducted']]
searched = ri[ri['search_conducted'] == True]
searched.head(1)

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
8,2005-01-24 20:32:00,RI-2005-00010,RI,Zone K1,600,M,1987.0,18.0,W,White,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False

In [ ]:
# CODE HERE

In [ ]:
searched['frisk'].mean()

0.08996734601959239

In [ ]:
# CODE HERE

In [ ]:
searched.groupby(['driver_gender']).frisk.mean()

driver_gender
F    0.066694
M    0.093707
Name: frisk, dtype: float64

In [ ]:
searched.groupby(['driver_gender']).frisk.value_counts('Normalize')

driver_gender  frisk
F              False    0.933306
               True     0.066694
M              False    0.906293
               True     0.093707
Name: frisk, dtype: float64

___

<p style='text-align: center;'><img src='https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV' class='img-fluid' alt='CLRSWY'></p>

___

**- Please save the edits made so far to a new csv file with the name RI_Part_2 to use it in the next step.**

**- Load and read new csv file.**

**- Check the first five rows.***

**- Check the shape of the dataframe.**

In [ ]:
ri.to_csv('RI_Part_2.csv', index_label = False)

In [ ]:
ri = pd.read_csv('RI_Part_2.csv', low_memory=False)
ri.head()

,stop_datetime,id,state,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
0,2005-01-02 01:55:00,RI-2005-00001,RI,Zone K1,600,M,1985.0,20.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,False
1,2005-01-02 20:30:00,RI-2005-00002,RI,Zone X4,500,M,1987.0,18.0,W,White,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,False
2,2005-01-04 12:55:00,RI-2005-00004,RI,Zone X4,500,M,1986.0,19.0,W,White,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False
3,2005-01-06 01:30:00,RI-2005-00005,RI,Zone X4,500,M,1978.0,27.0,B,Black,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,False
4,2005-01-12 08:05:00,RI-2005-00006,RI,Zone X1,0,M,1973.0,32.0,B,Black,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,False

In [ ]:
ri.shape

(480584, 23)

___

<p style='text-align: center;'><img src='https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV' class='img-fluid' alt='CLRSWY'></p>

___